
html{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
}

body{
    text-align: center;
    width: 50vw;
    height: 50vw;
    
}